In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')

In [4]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [5]:
df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [6]:
df['ConvertedComp'].head(50)

Respondent
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8      116000.0
9           NaN
10      32315.0
11      40070.0
12      14268.0
13      38916.0
14      66000.0
15          NaN
16     108576.0
17      79000.0
18    1260000.0
19      83400.0
20          NaN
21          NaN
22          NaN
23          NaN
24      91883.0
25          NaN
26      71093.0
27          NaN
28          NaN
29          NaN
30      38778.0
31          NaN
32      31764.0
33      63564.0
34          NaN
35          NaN
36      77556.0
37          NaN
38      97288.0
39          NaN
40          NaN
41     106000.0
42     130000.0
43     135000.0
44      55893.0
45      36753.0
46      37834.0
47      74970.0
48     125000.0
49      52000.0
50          NaN
Name: ConvertedComp, dtype: float64

In [7]:
df['ConvertedComp'].median()

54049.0

In [8]:
df.median()

Age                 29.0
CompTotal        63000.0
ConvertedComp    54049.0
WorkWeekHrs         40.0
dtype: float64

In [9]:
df.describe()

                Age      CompTotal  ConvertedComp   WorkWeekHrs
count  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean      30.834111  3.190464e+242   1.037561e+05     40.782174
std        9.585392            inf   2.268853e+05     17.816383
min        1.000000   0.000000e+00   0.000000e+00      1.000000
25%       24.000000   2.000000e+04   2.464800e+04     40.000000
50%       29.000000   6.300000e+04   5.404900e+04     40.000000
75%       35.000000   1.250000e+05   9.500000e+04     44.000000
max      279.000000  1.111111e+247   2.000000e+06    475.000000

In [10]:
df['ConvertedComp'].describe()

count    3.475600e+04
mean     1.037561e+05
std      2.268853e+05
min      0.000000e+00
25%      2.464800e+04
50%      5.404900e+04
75%      9.500000e+04
max      2.000000e+06
Name: ConvertedComp, dtype: float64

In [11]:
df['ConvertedComp'].count()

34756

In [12]:
df.shape

(64461, 60)

In [13]:
df['ConvertedComp'].value_counts().head(50)

120000.0     341
100000.0     306
150000.0     277
1000000.0    258
2000000.0    258
64859.0      258
110000.0     244
130000.0     211
90000.0      208
54049.0      204
80000.0      200
140000.0     190
25944.0      176
75669.0      171
125000.0     169
75000.0      167
59454.0      167
200000.0     167
38916.0      167
85000.0      165
43239.0      159
160000.0     158
115000.0     157
70264.0      155
60000.0      154
51888.0      151
70000.0      148
105000.0     143
0.0          142
180000.0     142
48644.0      142
95000.0      124
65000.0      124
135000.0     123
45396.0      120
32429.0      119
32424.0      116
64630.0      113
81074.0      107
37834.0      105
170000.0     103
250000.0     101
86478.0      101
64860.0       95
77556.0       92
45241.0       92
51704.0       88
48000.0       87
50000.0       87
72000.0       86
Name: ConvertedComp, dtype: int64

In [14]:
df['ConvertedComp'].count()

34756

In [15]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [16]:
df['LanguageWorkedWith']

Respondent
1                                   C#;HTML/CSS;JavaScript
2                                         JavaScript;Swift
3                                 Objective-C;Python;Swift
4                                                      NaN
5                                        HTML/CSS;Ruby;SQL
                               ...
64858                                                  NaN
64867    Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
64898                                                  NaN
64925                                             HTML/CSS
65112                      C#;HTML/CSS;Java;JavaScript;SQL
Name: LanguageWorkedWith, Length: 64461, dtype: object

In [17]:
schema_df.loc['LanguageWorkedWith']

QuestionText    Which programming, scripting, and markup langu...
Name: LanguageWorkedWith, dtype: object

In [18]:
df['LanguageWorkedWith'].value_counts()

HTML/CSS;JavaScript;PHP;SQL                                       1073
HTML/CSS;JavaScript                                                900
C#;HTML/CSS;JavaScript;SQL                                         856
C#;HTML/CSS;JavaScript;SQL;TypeScript                              754
HTML/CSS;JavaScript;TypeScript                                     697
                                                                  ...
C#;Dart;JavaScript;Rust;TypeScript                                   1
Bash/Shell/PowerShell;HTML/CSS;JavaScript;Julia;Rust                 1
Dart;HTML/CSS;JavaScript;Python;Rust;SQL;TypeScript                  1
Bash/Shell/PowerShell;C;C++;Go;Java;JavaScript;Python;Rust;SQL       1
C#;C++;Java;Kotlin;Python                                            1
Name: LanguageWorkedWith, Length: 14256, dtype: int64

In [19]:
df['LanguageWorkedWith'].str.split(';')

Respondent
1                               [C#, HTML/CSS, JavaScript]
2                                      [JavaScript, Swift]
3                             [Objective-C, Python, Swift]
4                                                      NaN
5                                    [HTML/CSS, Ruby, SQL]
                               ...
64858                                                  NaN
64867    [Assembly, Bash/Shell/PowerShell, C, C#, C++, ...
64898                                                  NaN
64925                                           [HTML/CSS]
65112                [C#, HTML/CSS, Java, JavaScript, SQL]
Name: LanguageWorkedWith, Length: 64461, dtype: object

In [20]:
df['LanguageWorkedWith'].value_counts(normalize=True)

HTML/CSS;JavaScript;PHP;SQL                                       0.018701
HTML/CSS;JavaScript                                               0.015685
C#;HTML/CSS;JavaScript;SQL                                        0.014919
C#;HTML/CSS;JavaScript;SQL;TypeScript                             0.013141
HTML/CSS;JavaScript;TypeScript                                    0.012148
                                                                    ...
C#;Dart;JavaScript;Rust;TypeScript                                0.000017
Bash/Shell/PowerShell;HTML/CSS;JavaScript;Julia;Rust              0.000017
Dart;HTML/CSS;JavaScript;Python;Rust;SQL;TypeScript               0.000017
Bash/Shell/PowerShell;C;C++;Go;Java;JavaScript;Python;Rust;SQL    0.000017
C#;C++;Java;Kotlin;Python                                         0.000017
Name: LanguageWorkedWith, Length: 14256, dtype: float64

In [21]:
df.groupby(['Country'])

In [22]:
country_grp=df.groupby(['Country'])

In [23]:
country_grp.get_group('United States')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,MongoDB,MariaDB;MySQL;Redis,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,Remote work options;Opportunities for professi...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",JavaScript,Python;SQL,Unity 3D,Ansible,NaN,Confluence;Jira;Github;Slack;Microsoft Teams;G...,Yes,Extremely important,Not at all important/not necessary,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Once a year,Not sure,Yes,No,Occasionally: 1-2 days per quarter but less th...,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Call a coworker or friend;Visit Sta...,Linux-based,20 to 99 employees,iOS;Slack Apps and Integrations,Docker,I have some influence,Straight / Heterosexual,Yes,"No, not really",Less than once per month or monthly,Multiple times per day,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,USD,Firebase;Microsoft SQL Server,Firebase;Microsoft SQL Server,"Developer, desktop or enterprise applications;...","Associate degree (A.A., A.S., etc.)",Employed full-time,White or of European descent,Man,Industry that I’d be working in;Flex time or a...,Slightly satisfied,"I’m not actively looking, but I am open to new...",HTML/CSS;JavaScript;SQL;TypeScript,HTML/CSS;JavaScript;SQL;TypeScript,Node.js,Node.js,Confluence;Jira;Github;Microsoft Teams;Google ...,Confluence;Jira;Github;Microsoft Teams,Yes,Extremely important,Somewhat important,Wanting to share accomplishments with a wider ...,"Read company media, such as employee blogs or ...",Every few months,No,Yes,No,Occasionally: 1-2 days per quarter but less th...,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,100 to 499 employees,Google Cloud Platform;Raspberry Pi;Windows,Google Cloud Platform;Windows,I have little or no influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per week,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,USD,Cassandra;Elasticsearch;MariaDB;PostgreSQL;Redis,Microsoft SQL Server;PostgreSQL,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Industry that I’d be working in;Languages, fra...",Slightly dissatisfied,"I’m not actively looking, but I am open to new...",C#;Go;Haskell;HTML/CSS;JavaScript;Python;Ruby;...,C#;HTML/CSS;JavaScript;Python;SQL;VBA,.NET Core;Teraform,.NET;Node.js,"Github;Gitlab;Slack;Google Suite (Docs, Meet, ...",Github;Gitlab;Slack;Microsoft Teams;Google Sui...,Yes,Extremely important,Fairly important,Having a bad day (or week or month) at work;Be...,Company reviews from third party sites (e.g. G...,Once a year,Not sure,No,No,Rarely: 1-2 days per year or less,NaN,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,20 to 99 employees,Docker;Kubernetes;Microsoft Azure,NaN,I have little or no influence,Straight / Heterosexual,Yes,"No, not at all",I have never participated in Q&A on Stack Over...,Daily or almost daily,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,USD,Elasticsearch;PostgreSQL;Redis;SQLite,Elasticsearch;MariaDB;MySQL;Redis;SQLite,"Developer, back-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Languages, frameworks, and other technologies ...",Very satisfied,I am not interested in new job opportunities,HTML/CSS;Perl,Bash/Shell/PowerShell;HTML/CSS;Perl,NaN,NaN,Github,Github;Slack,Not sure,Neutral,Very important,Looking to relocate,NaN,Once every few years,Yes,Onboarding? What onboarding?,Yes,Occasionally: 1-2 days per quarter but less th...,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Visit Stack Overflow;Do other work ...,Linux-based,100 to 499 employees,Linux,AWS;Linux,I have some influence,Straight / Heterosexual,Yes,"Yes, somewhat",I have never participated in Q&A on Stack Over...,Daily or almost daily,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58498,NaN,Yes,32.0,23,NaN,NaN,NaN,United States,NaN,NaN,Firebase;Microsoft SQL Server;MySQL;SQLite,Firebase;Microsoft SQL Server;MySQL;SQLite,"Data or business analyst;Developer, back-end;S...",Some college/university study without earning ...,"Independent contractor, freelancer, or self-em...",White or of European descent,Man,NaN,NaN,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,.NET;.NET Core;Apache Spark;Cordova;Flutter;No...,.NET;.NET Core;Apache Spark;Cordova;Flutter;No...,Github;Gitlab;Facebook Workplace;Slack;Microso...,Github;Gitlab;Facebook Workplace;Slack;Microso...,NaN,NaN,Very important,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Start a free trial;Visit developer communities...,Amused,Stack Exchange (public Q&A for a variety of to...,Watch help / tutorial videos;Visit another dev...,Linux-based,NaN,Android;Google Cloud Platform;Linux;MacOS;Micr...,Android;Google Cloud Platform;Linux;MacOS;Micr...,NaN,Straight / Heterosexual,NaN,NaN,NaN,NaN,Neither easy nor difficult,Appropriate in length,No,Mathematics or statistics,ASP.NET;ASP.NET Core;Flask;Gatsby;jQuery;React...,ASP.NET;ASP.NET Core;Flask;Gatsby;jQuery;React...,NaN,NaN,8,Less than 1 year
58896,NaN,Yes,29.0,10,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Student,White or of European descent,Man,NaN,NaN,NaN,Haskell,Haskell,NaN,NaN,Gitlab;Slack,Github;Gitlab;Slack,NaN,NaN,NaN,NaN,NaN,Once a year,No,NaN,NaN,NaN,Ask developers I know/work with;Visit develope...,Amused,Stack Overflow (public Q&A for anyone who code...,Play games;Call a coworker or friend;Visit Sta...,MacOS,NaN,NaN,NaN,NaN,Gay or Lesbian;Queer,Yes,"Yes, somewhat",A few times per week,Daily or almost daily,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,29,NaN
60931,NaN,Yes,NaN,17,NaN,NaN,NaN,United States,NaN,NaN,MariaDB;MySQL;PostgreSQL,MariaDB;MySQL,System administrator,Some college/university study without earning ...,Employed full-time,NaN,Man,NaN,NaN,NaN,Bash/Shell/PowerShell;C;C#;C++;PHP;Python,Bash/Shell/PowerShell;HTML/CSS;PHP,Unity 3D;Unreal Engine,NaN,Github;Stack Overflow for Teams,Github,NaN,NaN,Not at all important/not necessary,NaN,NaN,NaN,Not sure,NaN,NaN,NaN,Start a free trial;Visit developer communities...,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Play games;Visit Stack Overflow;Watch help / t...,Linux-based,NaN,Android;Arduino;Linux;Raspberry Pi;Windows,WordPress,NaN,NaN,Yes,Neutral,I have never participated in Q&A on Stack Over...,Less than once per month or monthly,Neither easy nor difficult,Too long,No,Web development or web design,NaN,Drupal,Not applicable - I did not use Stack Overflow ...,NaN,5,NaN
63077,NaN,Yes,NaN,20,NaN,NaN,NaN,United States,NaN,NaN,MySQL,MySQL,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,C++;Rust;SQL,C++;HTML/CSS;Java;JavaScript;Python;SQL,NaN,NaN,NaN,NaN,NaN,NaN,Fairly important,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,"No, not really",I have never participated in Q&A on Stack Over...,A few times per week,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,4,NaN
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,Senior executive/VP,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very important,NaN,NaN,Once a decade,NaN,NaN,NaN,NaN,Start a free trial,Amused,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend,Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year

In [32]:
filt=df['Country']=='India'
df.loc[filt,'LanguageWorkedWith'].value_counts()

HTML/CSS;JavaScript;PHP;SQL                                    180
HTML/CSS;JavaScript                                            149
Java                                                           149
HTML/CSS;JavaScript;TypeScript                                 121
Python                                                         103
                                                              ...
Bash/Shell/PowerShell;Dart;HTML/CSS;JavaScript;Ruby              1
Go;Java;JavaScript;PHP;Python;SQL;TypeScript                     1
Java;Kotlin;Python;R;SQL                                         1
C;C#;C++;HTML/CSS;JavaScript;Objective-C;PHP;Python;SQL;VBA      1
C;Java;Scala                                                     1
Name: LanguageWorkedWith, Length: 2280, dtype: int64

In [38]:
# country_grp['LanguageWorkedWith'].value_counts().loc['India']
country_grp['LanguageWorkedWith'].value_counts()

Country      LanguageWorkedWith
Afghanistan  Assembly                                  3
             HTML/CSS;Java;JavaScript                  2
             HTML/CSS;Java;JavaScript;PHP;SQL          2
             HTML/CSS;JavaScript;PHP;SQL               2
             HTML/CSS;JavaScript;PHP;SQL;TypeScript    2
                                                      ..
Zimbabwe     HTML/CSS;JavaScript;Python;SQL            1
             Java;JavaScript;SQL;TypeScript            1
             Java;Python                               1
             JavaScript;Python;VBA                     1
             PHP                                       1
Name: LanguageWorkedWith, Length: 33584, dtype: int64

In [37]:
country_grp['LanguageWorkedWith'].value_counts(normalize=True).loc['India']

LanguageWorkedWith
HTML/CSS;JavaScript;PHP;SQL       0.026148
HTML/CSS;JavaScript               0.021644
Java                              0.021644
HTML/CSS;JavaScript;TypeScript    0.017577
Python                            0.014962
                                    ...
Python;Rust                       0.000145
Python;TypeScript                 0.000145
R                                 0.000145
R;Ruby                            0.000145
SQL;Swift                         0.000145
Name: LanguageWorkedWith, Length: 2280, dtype: float64

In [44]:
country_grp['ConvertedComp'].median().loc['Germany']

62697.0

In [45]:
country_grp['ConvertedComp'].agg(['mean','median'])

                                               mean   median
Country
Afghanistan                           148290.125000  15163.5
Albania                                25611.000000  15900.0
Algeria                                10362.812500   9432.0
Andorra                                88640.000000  88640.0
Angola                                  5292.000000   5292.0
...                                             ...      ...
Venezuela, Bolivarian Republic of...    6280.611111   3600.0
Viet Nam                               28342.605769  10344.0
Yemen                                  36000.000000  36000.0
Zambia                                 17506.400000   5452.0
Zimbabwe                               26338.181818   7200.0

[183 rows x 2 columns]

In [46]:
country_grp['ConvertedComp'].agg(['mean','median']).loc['Canada']

mean      115101.775465
median     68068.000000
Name: Canada, dtype: float64

In [52]:
filt=df['Country']=='India'
df.loc[filt,'LanguageWorkedWith'].str.contains('Python').sum()

2670

In [53]:
country_grp['LanguageWorkedWith'].str.contains('Python').sum()

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [54]:
country_grp['LanguageWorkedWith'].apply(lambda x:x.str.contains('Python').sum())

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [55]:
country_respondents=df['Country'].value_counts()
country_respondents

United States                         12469
India                                  8403
United Kingdom                         3896
Germany                                3890
Canada                                 2191
                                      ...
Micronesia, Federated States of...        1
Fiji                                      1
Chad                                      1
Nauru                                     1
Saint Lucia                               1
Name: Country, Length: 183, dtype: int64

In [56]:
people_use_python=country_grp['LanguageWorkedWith'].apply(lambda x:x.str.contains('Python').sum())
people_use_python

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [59]:
python_df=pd.concat([country_respondents,people_use_python],axis='columns')
python_df

                                    Country  LanguageWorkedWith
United States                         12469                5964
India                                  8403                2670
United Kingdom                         3896                1621
Germany                                3890                1712
Canada                                 2191                1011
...                                     ...                 ...
Micronesia, Federated States of...        1                   1
Fiji                                      1                   0
Chad                                      1                   0
Nauru                                     1                   0
Saint Lucia                               1                   1

[183 rows x 2 columns]

In [61]:
python_df.rename(columns={'Country':'noofrespondents','LanguageWorkedWith':'knowspython'},inplace=True)

In [62]:
python_df

                                    noofrespondents  knowspython
United States                                 12469         5964
India                                          8403         2670
United Kingdom                                 3896         1621
Germany                                        3890         1712
Canada                                         2191         1011
...                                             ...          ...
Micronesia, Federated States of...                1            1
Fiji                                              1            0
Chad                                              1            0
Nauru                                             1            0
Saint Lucia                                       1            1

[183 rows x 2 columns]

In [65]:
python_df['pctofpython']=(python_df['knowspython']/python_df['noofrespondents'])*100
python_df

                                    noofrespondents  knowspython  pctofpython
United States                                 12469         5964    47.830620
India                                          8403         2670    31.774366
United Kingdom                                 3896         1621    41.606776
Germany                                        3890         1712    44.010283
Canada                                         2191         1011    46.143314
...                                             ...          ...          ...
Micronesia, Federated States of...                1            1   100.000000
Fiji                                              1            0     0.000000
Chad                                              1            0     0.000000
Nauru                                             1            0     0.000000
Saint Lucia                                       1            1   100.000000

[183 rows x 3 columns]

In [69]:
python_df.sort_values(by='pctofpython',ascending=False,inplace=True)

In [71]:
python_df

                                    noofrespondents  knowspython  pctofpython
Saint Lucia                                       1            1   100.000000
Gabon                                             1            1   100.000000
Micronesia, Federated States of...                1            1   100.000000
Montenegro                                       13            9    69.230769
Brunei Darussalam                                 3            2    66.666667
...                                             ...          ...          ...
Fiji                                              1            0     0.000000
Chad                                              1            0     0.000000
Nauru                                             1            0     0.000000
Kiribati                                          1            0     0.000000
Antigua and Barbuda                               2            0     0.000000

[183 rows x 3 columns]

In [72]:
python_df.head(50)

,noofrespondents,knowspython,pctofpython
Saint Lucia,1,1,100.000000
Gabon,1,1,100.000000
"Micronesia, Federated States of...",1,1,100.000000
Montenegro,13,9,69.230769
Brunei Darussalam,3,2,66.666667
Guyana,5,3,60.000000
Swaziland,7,4,57.142857
Iceland,53,28,52.830189
Finland,349,183,52.435530
Uganda,81,42,51.851852
Mauritania,4,2,50.000000
Timor-Leste,2,1,50.000000
Jamaica,14,7,50.000000
Papua New Guinea,2,1,50.000000
Solomon Islands,2,1,50.000000
Burkina Faso,6,3,50.000000
Belize,4,2,50.000000
Cameroon,50,24,48.000000
United States,12469,5964,47.830620
Israel,653,307,47.013783
Ecuador,49,23,46.938776
Taiwan,158,73,46.202532
Canada,2191,1011,46.143314
Oman,11,5,45.454545
Estonia,145,65,44.827586
Ireland,444,199,44.819820
Japan,297,132,44.444444
Switzerland,629,278,44.197138
Germany,3890,1712,44.010283
France,1898,833,43.888303
Costa Rica,76,33,43.421053
Singapore,228,99,43.421053
Australia,1208,524,43.377483
Trinidad and Tobago,7,3,42.857143
Lao People's Democratic Republic,7,3,42.857143
Democratic Republic of the Congo,7,3,42.857143
China,371,158,42.587601
Peru,101,43,42.574257
Algeria,94,40,42.553191
Malta,47,20,42.553191
Zimbabwe,31,13,41.935484
Norway,384,160,41.666667
New Zealand,353,147,41.643059
United Kingdom,3896,1621,41.606776
Hong Kong (S.A.R.),111,46,41.441441
"Venezuela, Bolivarian Republic of...",70,29,41.428571
Slovenia,157,65,41.401274
Kenya,271,111,40.959410
Netherlands,1343,544,40.506329
Qatar,20,8,40.000000

In [73]:
python_df.loc['India']

noofrespondents    8403.000000
knowspython        2670.000000
pctofpython          31.774366
Name: India, dtype: float64

In [75]:
python_df.sort_values(by=['noofrespondents','knowspython'],ascending=[False,False]).head(50)

                    noofrespondents  knowspython  pctofpython
United States                 12469         5964    47.830620
India                          8403         2670    31.774366
United Kingdom                 3896         1621    41.606776
Germany                        3890         1712    44.010283
Canada                         2191         1011    46.143314
France                         1898          833    43.888303
Brazil                         1818          635    34.928493
Netherlands                    1343          544    40.506329
Poland                         1278          509    39.827856
Australia                      1208          524    43.377483
Spain                          1161          448    38.587425
Italy                          1117          422    37.779767
Russian Federation             1092          421    38.553114
Sweden                          886          353    39.841986
Pakistan                        809          246    30.407911
Turkey                          777          269    34.620335
Israel                          653          307    47.013783
Switzerland                     629          278    44.197138
Bangladesh                      609          179    29.392447
Romania                         604          196    32.450331
Nigeria                         593          192    32.377740
Mexico                          540          179    33.148148
Austria                         539          205    38.033395
Ukraine                         539          158    29.313544
Czech Republic                  500          195    39.000000
Indonesia                       499          142    28.456914
South Africa                    494          158    31.983806
Iran                            491          176    35.845214
Belgium                         459          173    37.690632
Ireland                         444          199    44.819820
Philippines                     405          124    30.617284
Denmark                         397          144    36.272040
Argentina                       395          134    33.924051
Greece                          390          149    38.205128
Portugal                        388          147    37.886598
Norway                          384          160    41.666667
China                           371          158    42.587601
Hungary                         371          138    37.196765
Viet Nam                        364          102    28.021978
New Zealand                     353          147    41.643059
Finland                         349          183    52.435530
Bulgaria                        323           89    27.554180
Serbia                          306           93    30.392157
Japan                           297          132    44.444444
Sri Lanka                       295          109    36.949153
Colombia                        285          100    35.087719
Egypt                           281           79    28.113879
Kenya                           271          111    40.959410
Nepal                           242           89    36.776860
Malaysia                        231           73    31.601732